@import "../abstracts/mixins";

.main-container {
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  margin: 10px;
  margin-bottom: 30px;
}
.carousel-caption{
  color: white; align-items:center; text-align:center;
  h4{
    font-size:50px;
  }
  p{
    text-align: center;
  }
}