/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: white;
  height: 100vh;
} */
/* h1 {
  text-decoration: none;
} */
/* p {
  text-align: justify;
} */

/* .container {
  background-color: white;
  width: 100%;
  margin: 0 20px;
  overflow: hidden;
} */

/* .center {
  display: flex;
  justify-content: center;
} */
/* .content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* 
.space {
  margin: 40px;
  padding: 0 30px;
} */

/* .title {
  display: block;
  position: relative;
  color: #0d0f0f;
}

.title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* .title2 {
  display: block;
  position: relative;
  color: #1838e9;
}

.title2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;

  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.title2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* .box {
  width: 80vw;
  margin: 10px 0 30px 0;
  border-bottom: 3px solid black;
} */

/* .content {
  padding: 10px 5%;
  width: 90%;
  height: 100%;
  float: left;
  border-left-color: #fff;
  border-right-color: #fff;
} */
/* .content h1 {
  text-decoration: none;
} */

/* .show {
  display: none;
} */

/* .sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.account-forms {
  margin: auto;
  width: 400px;
}
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar {
  float: right;
  width: 25%;
  padding-bottom: 10px;
  background-color: #acacac; }*/

/* 
.invalid {
  color: #e7625f;
} */

/* .footer {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  background-color: #cccccc;
  color: black;
  clear: both;
  width: 100%;
}
.footer a {
  color: #4d414c;
  text-decoration: none;
} */

/* .readbtn {
  transition: all linear 0.2s;
  background: #66ad44;
  border: none;
  font-size: 13px;
  line-height: 22px;
  border-radius: 0;
  padding: 6px 14px;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
  color: white;
}
.readbtn a {
  text-decoration: none;
  color: #fefefe;
} */

/* .logout-btn {
  display: none;
}
.adminbtn {
  padding-right: 20px;
  background: Green;
  margin-right: 30px;
  border-radius: 20px;
}

.del-form {
  display: inline;
  position: absolute;
  left: 30%;
  top: 30%;
  padding: 20px 60px;
  border: 2px solid gray;
  box-shadow: 0px 0px 10px #888888;
} */

/* .btn-section {
  margin: -30px 12px;
} */
/* .del-form h1{
  color: red;
  text-align: center;
}

.del-form .btn {
  color: white;
  display: inline;
  margin: 60px 60px 60px 60px;
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
 }

.del-form .btn:hover{
  margin: 55px 60px 60px 60px;
  font-size: 25px;
 } */


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* .ulclass {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} */

/* li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

li a:hover {
  background-color: #111;
} */

/* aditional Effect */

/* .text {

  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
} */
