@import "../abstracts/mixins";
@import "../abstracts/variables";

.form {
  @include form;
  margin: 8vh auto 26vh;
  .from-content {
    @include from-content;
      .r-p-pass-eye {
        @include pass-eye;
        top: 41%;
        right: 10%
      }
      .r-c-pass-eye {
        @include pass-eye;
        top: 56%;
        right: 10%
      }
    }
    
  }

